<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Ratatouille</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Menu', welcome_contact_path %></li>
      <li><%= link_to 'Contact Us', welcome_contact_path %></li>
    </ul>
  </div>
</nav>