<nav>
  <div class="nav-wrapper">
    <%= link_to 'Ratatouille', root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Menu', menu_index_path, method: :get %></li>
      <li><%= link_to 'Contact Us', welcome_contact_path, method: :get %></li>
    </ul>
  </div>
</nav>