<div class="container">
  <div class="row">
    <div class="col m3 offset-m1">
      <h3>Contact us</h3>
      <div>
        <i class="tiny material-icons">phone</i> 0947811007
      </div>
      <div>
        <i class="tiny material-icons">business</i> 228/90P, New York
      </div>
      <div>
        <i class="tiny material-icons">email</i> ratatouille@gmail.com
      </div>
    </div>

    <div class="col m5">
      <h3></h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.068200509694!2d106.69254531452916!3d10.729223262997714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbea5fe3db1%3A0xfae94aca5709003f!2sRMIT+University+Vietnam!5e0!3m2!1sen!2s!4v1457610023855" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>