<div class="col m4 offset-m1">
  <div id="order-error">
    <%= render 'share/error', object: @order if @order %>
  </div>

  <h5 style="margin-bottom: 24px">Personal info</h5>

  <div class="input-field">
    <input id="username" type="text" class="validate" name="order[username]">
    <label for="username" style="left: 0">Username</label>
  </div>

  <div class="input-field">
    <input id="phone" type="text" class="validate" name="order[phone]">
    <label for="phone" style="left: 0">Phone</label>
  </div>

  <div class="input-field">
    <input id="address" type="text" class="validate" name="order[address]">
    <label for="address" style="left: 0">Address</label>
  </div>

  <div class="input-field">
    <input id="email" type="text" class="validate" name="order[email]">
    <label for="email" style="left: 0">Email</label>
  </div>
</div>