<div class="col m4 offset-m1">
  <h5 style="margin-bottom: 24px">Personal info</h5>

  <div class="input-field">
    <input id="username" type="text" class="validate" name="username">
    <label for="username" data-error="wrong" style="left: 0">Username</label>
  </div>

  <div class="input-field">
    <input id="phone" type="text" class="validate" name="phone">
    <label for="phone" data-error="wrong" style="left: 0">Phone</label>
  </div>

  <div class="input-field">
    <input id="address" type="text" class="validate" name="address">
    <label for="address" data-error="wrong" style="left: 0">Address</label>
  </div>

  <div class="input-field">
    <input id="email" type="text" class="validate" name="email">
    <label for="email" data-error="wrong" style="left: 0">Email</label>
  </div>
</div>