<div id="my-order">
  <h3><%= @title %></h3>
  <% if @total > 0 %>
      <%= form_tag orders_create_path, method: :post do %>
          <div class="row">
            <%= render 'orders/content' %>
            <%= render 'orders/personal_info' %>
          </div>
      <% end %>
  <% end %>
</div>
