// Update orders count
$("#orders_count").html("<%= j("Orders (#{current_orders.count})") %>");

// Remove row
$("#row-<%= params[:id] %>").remove();

// Update total
updateTotal();

// Update view
if (calculateTotal() == 0) {
  $('#my-order').html("<h3>You have no orders</h3>")
}