@import "materialize";
@import "toastr";
@import "welcome";
@import "menu";
@import "order";

.brand-logo {
  margin-left: 16px;
}

button:focus {
  outline: 0;
}

.nav-wrapper {
  background-color: #ED3554;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 95%;
}

footer.page-footer .footer-copyright {
  background-color: #ed5069;
}

footer.page-footer {
  background-color: #ED3554;
}

.page-footer {
  background-color: #ED3554;
}

.background-blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

#hr-divider {
  margin-top: 32px;
  margin-bottom: 32px;
}